# Data Science Notebook

## Introduction
This notebook explores various aspects of data science, including languages, libraries, tools, and arithmetic expressions.

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib

## Data Science Tools

| Tool        | Description           |
|-------------|-----------------------|
| Jupyter     | Interactive Notebooks |
| TensorFlow  | Deep Learning         |
| Scikit-learn| Machine Learning      |

## Arithmetic Expression Examples
Let's explore some basic arithmetic operations.

In [2]:
# Multiply and add numbers
a = 5
b = 3
result_multiply = a * b
result_add = a + b
print("Multiplication result:", result_multiply)
print("Addition result:", result_add)

Multiplication result: 15
Addition result: 8

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print("Hours:", hours)

Hours: 2.0

## Objectives
- Explore data science languages, libraries, and tools
- Understand basic arithmetic operations
- Learn to convert units

## Author
- [Hassan Alnobani]